*{
    padding: 0;
    margin: 0;
}
.sidebar{
    width: 100px;
}
ul{
    list-style: none;
}
.menu-title{
    display: inline-block;
    width: 100px;
    background: #eee;
    text-decoration: none;
border-bottom: 2px solid #ccc;
}
.menu-title::before{
    content: '* '
}
.inner-menu{
    background: #bbb;
    display: none;
    margin-left: 20px;

}
.inner-menu >li{
    /*padding-left: 5px;*/
    
    border-bottom: 1px solid #111;
    border-left:5px solid #456;
    border-right:5px solid #456;
    text-align: center;
    
}
.inner-menu >li.active{
border-left:5px solid #456;

}
.show{
    display: block;
}
